h1, p {
  font-family: Lato;
}

.title {
  font-size: 16px;
  text-align: center;
  padding: 20px;
  color: #556788;
}

.titleTask{
  font-size: 10px;
  color: #556788;
}

.textError{
  background: #ff000042;
  font-weight: 700;
  color: red;
  text-align: center;
  border: 1px solid;
}

.categories{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.divider {
  width: 100%;
  height: 3px;
  background: #5B9BD5;
  border: 1px solid #41719C;
  margin-bottom: 10px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26%;
  margin: 10px 30px;
  background: #F2F2F2;
  border: 1px solid #9ABFE1;
  border-radius: 15px;
  padding-bottom: 20px;
}

.buttontask{
  background: #5B9BD5;
  border: 1px solid #41719C;
  border-radius: 15px;
  padding: 6px 20px;
  margin: 6px;
  font-size: 10px;
  color: white;
}

.buttontask:hover {
  background-color: white;
  border: 1px solid #41719C;
  color: #5B9BD5;
}

.cardFinish{
    border: 1px solid #9ABFE1;
    background: #F2F2F2;
    width: 50%;
    padding: 20px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
}
